# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React Native
.expo/
.expo-shared/
*.iml
*.hprof

# Android
android/.gradle/
android/app/build/
android/build/
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/build/
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/

# Bundler/Metro
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Coverage
coverage/

# Misc
*.apk
*.ipa
**/outputs/
**/intermediates/
**/tmp/
