# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Related to Materialize
.materialize/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio / IntelliJ IDEA (This is the old one, kept for compatibility)
.idea/
*.iml

# VS Code related
.vscode/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Screenshots
screenshots/
*.png

# OS Files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local
*.pem

# Logs
*.log

# Coverage
coverage/
